[submodule "thirdparty/gatb-core"]
	path = thirdparty/gatb-core
	url = https://github.com/GATB/gatb-core.git
[submodule "thirdparty/gzstream"]
	path = thirdparty/gzstream
	url = https://github.com/kanedo/gzstream
